/*------FOOTER-----*/

footer {
	display: flex;
	padding: 40px;
	justify-content: space-around;
	align-items: center;
	height: 5vh;
}
.marca_footer {
	font-size: 45px;
	font-weight: 100;
}
.redes {
	font-size: 2rem;
	a {
		&:hover {
			color: $color-primario;
		}
	}
}
.direccion {
	line-height: 1;
}
