/*------PRODUCTOS-----*/

#carouselOk {
	h2 {
		font-size: 3rem;
		font-weight: 100;
	}
	p {
		font-size: 1.2rem;
	}
    .carousel-indicators {
        margin-bottom: 13rem;
    }
    .carousel-caption {
        padding-bottom: 15rem;
    }
}

