@import"./utils/variables";
@import"./layout/header";
@import"./layout/apertura";
@import"./layout/footer";
@import"./pages/quienes";
@import"./pages/galeria";
@import"./pages/oportunidades";
@import"./pages/contacto";
@import"./components/carousel";
@import"./components/formulario";
*{
    font-family: $tipo-principal;
}






/*------MEDIA QUERIES MOBILE-----*/
/*------Header y Footer-----*/
@media(max-width:780px){
    header{height: 70px;text-align:center;display:unset}
    header nav {width: 100%;margin-top:20px;}
    header nav ul{display:unset}
    header nav li{width: 33.33%;float: left;margin-bottom: 10px;}
    header nav li:nth-child(4) {margin-left: 17%;}
    .grilla{height: unset;display: unset;}
    footer{display:unset;text-align: center;}
    .marca_footer{font-size: 30px;margin-top: 25px;}
    .redes{padding: 20px;}

/*------quienes somos-----*/

    .somos_grilla{grid-template-columns: auto;}
    h2.somos__titulo{font-size: 20px;}
    p.somos_texto{font-size: 14px;line-height: 1.5rem;}
    .somos_grilla img{margin-top: 20px;}

    /*------Galeria-----*/
    .galeria{grid-template-columns:1fr 1fr}

    /*------Productos-----*/
    
    #carouselOk h2{
      font-size: 1.5rem;
    }
    
    #carouselOk p{
        font-size: 1rem;
    }
    
    .carousel-caption{
        padding-bottom: 5rem;
    }
    
    .carousel-indicators{
        margin-bottom: 2rem;
    }
    
    /* .tarjeta{margin-top: 20px;max-height: unset;} */


    /*------Oportunidades-----*/
    .contenedor_img{height: 90px;float:left;overflow: unset;}
    .flotante {position: absolute;z-index: 1;top: 35%;padding: 25px 25px 40px 25px;color: white;text-align: center;}
    .ofertas1{display: inline-flex;}
    .ofertas1__titulo--destacado{font-size: 2rem;text-align: center;}
    .oportunidades_grilla img{width: 180%;}


    /*------formulario-----*/

    #formulario section{width: unset;height: unset;}
}

